<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="UP_Andreev_423" connectionString="Data Source=.;Initial Catalog=UP_Andreev_423;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient" />
	<add name="UP_Andreev_423Entities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOME-PC;initial catalog=UP_Andreev_423;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>
