<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		
	<add name="UP_Andreev_423Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOME-PC;initial catalog=UP_Andreev_423;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>
